
#creditCardForm {
    margin: 0 auto;
    padding: 20px;
    width: fit-content;
    display: grid;
    grid-template-columns: 100px 300px 100px;
    grid-template-rows: 50px 100px 50px 50px;
}

#cardFront {
    height: 160px;
    background-color: lightgrey;
    grid-area: 1 / 1 / 3 / 3;
    display: grid;
    grid-template-columns: 300px 100px;
    grid-template-rows: 1fr 1fr;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

#cardBack {
    height: 160px;
    background-color: lightgrey;
    grid-area: 2 / 2 / 4 / 4;
    display: grid;
    grid-template-columns: 300px 100px;
    grid-template-rows: 50px 25px 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;
}

#cvvContainer {
    grid-area: 3 / 2 / 4 / 3;
}

#cvv {
    width: 90px;
}

#creditCardNumberContainer {
grid-area: 2 / 1 / 3 / 2;
}

#cardHolderContainer {
grid-area: 3 / 1 / 4 / 2;
}

#cardExpiration {
grid-area: 3 / 2 / 4 / 3;
}

#month, 
#year {
    width: 90px;
}

#submitButton {
    grid-area: 4 / 3 / 5 / 4;
}