body {
    margin: 0, auto;
    background-color: #303a58;
}
h1 {
    text-align: center;
    color: white;
}
.tableContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
table {
    border-collapse: collapse;
    width: 50%;
    align-items: center;
    box-shadow: 3px 3px black;
}

th,
td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
    background-color: #70b8da;
}

th {
    background-color: #839698;
}

ul {
    color: white;
}

@media screen and (min-width: 700px) {
    table {
        width: 95%;
        font-size: 14px;
    }

    th, td {
        padding: 6px;
    }
}

@media screen and (min-width: 1000px) {
    table {
        width: 80%;
        font-size: 16px;
    }

    th, td {
        padding: 8px;
    }
}
