* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: lightblue;
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
  text-align: center;
}

nav {
  display: none;
}

main {
  background-color: lightgray;
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 3px solid white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
}

@media screen and (min-width: 700px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1028px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: lightblue;
  }

  button {
    display: none;
  }
}
