* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: rgb(76, 175, 236);
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
  text-align: center;
  color: white;
}

nav {
  display: none;
}

nav a {
  color: white;
}

nav.show {
  display: block;
  width: 50px;
  margin: 0 auto;
  padding-top: 10px;
  background-color: rgb(76, 175, 236);
  }

.menu-btn {
  color: white;
  background-color: rgb(76, 175, 236);
  border: none;
  font-size: 1.2em;
  margin-top: 10px;
}

main {
  background-color: lightgray;
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.gallery img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 3px solid white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: rgb(76, 175, 236);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
    color: white;
    max-width: 1000px;
}

dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

@media screen and (min-width: 700px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  dialog img {
    width: 85%;
  }
}

@media screen and (min-width: 1028px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(76, 175, 236);
  }

   .menu-btn {
    display: none;
   }

  dialog img {
        width: 60%;
        margin: 15vh auto;
    }
    .close-viewer {
        position: absolute;
        right: 15vh;
    }
    .viewer {
        margin: 50px;
        padding: 50px;
    }
    .viewer img {
        max-width: 800px;
    }
}
